<accordion>
  <accordion-header class="flex gap-2 items-center">
    <badge color="blue">{{ route.method }}</badge>
    <badge color="gray">{{ route.route }}</badge>
    <span class="text-xs text-gray-800 dark:text-gray-400">{{ route.description }}</span>
  </accordion-header>
  <accordion-body class="flex flex-col gap-4">
    <table *ngIf="route.query_options?.length" class="rounded-lg overflow-hidden w-full text-sm text-left rtl:text-right text-gray-800 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th class="px-6 py-3">
            Variable
          </th>
          <th class="px-6 py-3">
            Description
          </th>
          <th class="px-6 py-3">
            Type
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let queryOption of route.query_options" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
          <td class="px-6 py-4">
            {{ queryOption.query }}
          </td>
          <td class="px-6 py-4">
            {{ queryOption.description }}
          </td>
          <td class="px-6 py-4 space-x-2">
            <badge color="red" *ngIf="queryOption.required">required</badge>
            <badge color="blue">{{ queryOption.type }}</badge>
          </td>
        </tr>
      </tbody>
    </table>

    <code *ngIf="route.data.structure" class="w-fit overflow-scroll flex flex-col gap-2 bg-gray-100 dark:bg-gray-900 text-gray-800 dark:text-white rounded-lg p-4 pl-6">
      <badge class="w-fit" color="red" *ngIf="route.data?.array">ARRAY</badge>
      <pre>{{ route.data.structure | json }}</pre>
    </code>
  </accordion-body>
</accordion>