<h1 class="text-xl font-bold text-gray-900 rounded-lg dark:text-white">Installation of the Public API</h1>

<ol class="list-decimal ml-6 text-gray-900 rounded-lg dark:text-white">
  <li class="my-3">
    Download the latest version from the following link:
    <a href="https://github.com/Salvatore-Als/cs2-rank/tree/main/external/public-api" class="text-blue-500 underline hover:text-blue-700" target="_blank">https://github.com/Salvatore-Als/cs2-rank/tree/main/external/public-api</a>
  </li>

  <li class="my-3">
    After downloading, drag and drop the API folder into your desired directory.
  </li>

  <li class="my-3">
    Open a terminal in the API directory and run:
    <badge color="gray">npm install</badge>
  </li>

  <li class="my-3">
    Once the installation is complete, you can start the API by running:
    <badge color="gray">npm start</badge>
  </li>
</ol>

<p class="font-medium text-gray-900 rounded-lg dark:text-white">
  Note: Ensure that you have Node.js and npm installed on your system before proceeding with the installation.
</p>