<h1 class="text-3xl font-bold mb-3 text-gray-900 rounded-lg dark:text-white">Welcome to CS2-Rank</h1>

<p class="my-3 text-gray-900 rounded-lg dark:text-white">CS2-Rank is a powerful and community-driven Metamod plugin for Counter-Strike 2. It introduces a
    flexible ranking system that allows global and per-map ranks based on in-game events such as kills, deaths,
    suicides, headshots, etc.
</p>

<p class="my-3 text-gray-900 rounded-lg dark:text-white">The plugin is entirely configurable, giving you control over various aspects of the ranking
    system. It utilizes MySQL for data storage and retrieval.
</p>

<p class="my-3 text-gray-900 rounded-lg dark:text-white">To enhance your experience, we also provide a Discord bot and a web interface. These tools
    allow you to view the top players, check ranks, and perform other related actions.
</p>

<p class="font-medium my-3 text-gray-900 rounded-lg dark:text-white">Get ready to elevate your Counter-Strike 2 experience with CS2-Rank !</p>