<div class="font-bold mb-6">
    <h1 class="text-3xl text-gray-900 dark:text-white">CS2 Rank</h1>
    <h2 class=" text-gray-500">The best open source ranking plugin for Counter Strike 2</h2>
</div>

<p class="mb-4 text-gray-900 dark:text-white">CS2 Rank is a ranking plugin for Counter-Strike 2, relying on in-game events to award or deduct points. Player statistics are recorded in a MYSQL database.</p>

<ul class="ml-6 mb-6 list-disc text-gray-900 dark:text-white">
    <li class="mb-2"><span class="font-bold">Global Ranking System:</span> Track your rank, top standings, and statistics globally, by map name, and specifically for the current map in play.</li>
    <li class="mb-2"><span class="font-bold">Cross-Server Ranking:</span> Enable cross-server ranking through rank referencing, allowing for a unified ranking experience across multiple servers.</li>
    <li class="mb-2"><span class="font-bold">Free-for-All (FFA) Support:</span> Enjoy comprehensive support for Free-for-All gameplay, ensuring a competitive experience for all players.</li>
    <li class="mb-2"><span class="font-bold">Bot Compatibility:</span> CS2 Rank seamlessly integrates with bots, enhancing the overall gaming environment.</li>
    <li class="mb-2"><span class="font-bold">Translation and Colorization:</span> CS2 Rank introduces a robust translation system and colorization of phrases, providing a personalized and visually appealing experience.</li>
    <li class="mb-2"><span class="font-bold">Explore a Discord bot written in NodeJS</span>, offering the ability to check specific player ranks, both personal and by map, as well as global and map-specific top rankings through rank referencing.</li>
    <li class="mb-2"><span class="font-bold">Access a PHP-powered web interface</span> providing top rankings by map and globally. This interface also utilizes rank referencing for seamless integration.</li>
    <li class="mb-2"><span class="font-bold">Explore an API written in NodeJS</span>, offering the ability to get players statistics per steam64 and name, get the top per map and global, get the available maps and groups.</li>
</ul>