<h1 class="text-xl font-bold text-gray-900 rounded-lg dark:text-white">Installation of the web interface</h1>

<ol class="list-decimal ml-6 text-gray-900 rounded-lg dark:text-white">
  <li class="my-3">Clone the repository or download the web interface from the following link:
    <a href="https://github.com/Salvatore-Als/cs2-rank/tree/main/external/web" class="text-blue-500 underline hover:text-blue-700" target="_blank">https://github.com/Salvatore-Als/cs2-rank/tree/main/external/web</a>
  </li>

  <li class="my-3">Host the web interface on a web server that supports PHP.</li>

  <li class="my-3">Configure the file <code>config.php</code> by referencing the configuration section.</li>
</ol>

<p class="font-medium text-gray-900 rounded-lg dark:text-white">Note: Ensure that your web server is properly configured to handle PHP files.</p>